:root{
    --background-color:#A1A1A1;
    --text-blue-solid:#133875;
    --text-black:#242424;
    --text-white:#FFFFFF;
    --background-color-left:#133875;
}

.body{
    background: --background-color;
}

.navbar-nav .nav-link.active {
    color: var(--text-blue-solid);
  }

.dropdown-menu{
    max-width: 15px;
}


.header-img{
    width: 50%;
    height: 50%;
}

.social-items{
    height: 500px; 
    width: 100px; 
    background-color: var(--background-color-left);
    padding: 10px 0;
    padding-top: 100px;
    
}