:root{
    --background-color:#A1A1A1;
    --text-blue-solid:#133875;
    --text-black:#242424;
    --text-white:#FFFFFF;
    --background-color-left:#133875;
    --text-orange:#F69F00;
    --benefit-color:#EDF2F9;
}

/* body{
    background-image: url('../images/cover-uzb.png');
} */

.carousel-section {
    position: relative;
}

.carousel-section:after {
    content: "";
    background-image: url(../images/cover-uzb.png);
    position: absolute;
    right: 0;
    top: 0;
    width: 43%;
    height: 100%;
    z-index: -1;
}

.header{
    position: absolute;
    z-index: 1;
}

.navbar-nav .nav-link.active {
    color: var(--text-blue-solid);
  }


.header-img{
    width: 50%;
    height: 50%;
}

/* .header:nth-child(4) {
    color: white;
  }
  
  :nth-child(5) {
    color: white;
  } */

.social-items{
    height: 500px; 
    width: 100px; 
    background-color: var(--background-color-left);
    padding: 10px 0;
    padding-top: 100px;
    margin-right: 50px;
    
}

.uzb{
  position: relative;
  width: 100%;
  height: 500px;
}

.cover-uzb{
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    text-align: center;
} 

.uzb-cover h1{
    color:var(--text-white);
    padding: 100px;
    font-size: 2.5em;
    margin-bottom: 20px;
} 


.card-img-overlay {
    position: absolute;
    /* bottom: 20px; */
    /* left: 0; */
    width: 90%;
    height: 50%;
    justify-content: center; 
    background-image: url(../images/bluekvadrat.png);
    color: white;
    /* text-align: center; */
    /* margin-bottom: 20px;  */
    margin-left: 20px;
    margin-top: 180px;
}

.card-img-overlay-buhara{
    position: absolute;
    /* bottom: 20px; */
    /* left: 0; */
    width: 92%;
    height: 50%;
    justify-content: center; 
    background-image: url(../images/orangekvadrat.png);
    color: white;
    /* text-align: center; */
    /* margin-bottom: 20px;  */
    margin-left: 15px;
    margin-top: 180px;
}

.text-overlay {
    padding: 1px;
    width: 100%;
}

.dropdown-menu{
    max-width: 15px;
}


.xor{
    position: absolute;
    width: 350px;
    height: 70px;
    margin-bottom: 0;
    /* margin: 50px; */
    margin-top: 220px;
    z-index: 1;
}

.center{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 18px;
    color:var(--text-white);
}

.footer.container-fluid{
    background-color: var(--background-color-left);
    height: 130px;
}

.round-button{
    background-color: #F69F00; 
    color: white; 
    border: none; 
    padding: 15px 30px; 
    font-size: 1.2em; 
    cursor: pointer; 
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
    margin-left: 50px;
    margin-top: 50px;
}

.blue-button{
    background-color: #133875; 
    color: white; 
    border: none; 
    padding: 5px; 
    font-size: 18px; 
    cursor: pointer; 
    border-radius: 50px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 50%;
}

.benefit{
    background-color:var(--benefit-color);
    padding: 60px; 
    height: 450px;
    margin: 0;
}


.statistics{
    position: absolute;
    /* bottom: 20px; */
    /* left: 0; */
    display: flex;
    width: 500px;
    height: 120px;
    /* justify-content: center;  */
    background-image: url(../images/workers.png);
    color: white;
    /* margin-bottom: 20px;  */
    margin-left: 25px;
    margin-top: 230px;
}



/* .statistics{ 
    position: absolute;
    background-color:transparent;
    text-align: center;
    padding: 20px;
    display: flex;
    width: 90%;
    margin-left: 30px;
}

.choy{
    position: absolute;
    width: 550px;
    height: 300px;
}

.workers {
    position: relative;
    width: 500px;
    height: 120px;
    margin-top: 240px;
    margin-left: 2px;
    z-index: 1;
    
/* }  */


/* .statistics span {
    color:#FFFFFF;
    font-size: 18px;
    /* margin-top: 210px; */
    /* display: block; */
    /* margin-left: 50px; */
    /* z-index: 10; */
/* } */
/* .statistics p {
    margin: 0;
    color:#FFFFFF;
    z-index: 10;
}  */ 


.tours{
    position: absolute;
    display: flex;
    width: 500px;
    height: 10px;
    background-image: url(../images/workers.png);
    color: white;
    /* margin-left: 25px; 
    margin-top: 0px;  */
}